<h1>Listing panels</h1>

<% @panel_groups.each do |panel_group| -%>
  <h2><%= panel_group.name %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Url</th>
    </tr>

  <% panel_group.panels.each do |panel| %>
    <tr>
      <td><%=h panel.name %></td>
      <td><%=h panel.url %></td>
      <td><%= link_to 'Edit', edit_panel_path(panel) %></td>
      <td><%= link_to 'Destroy', panel, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New panel', new_panel_path(:panel_group_id => panel_group.id) %>
<% end -%>
