<p>
  <b>Name:</b>
  <%=h @panel.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @panel.url %>
</p>

<p>
  <b>Sequence:</b>
  <%=h @panel.sequence %>
</p>


<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>