<h1>Editing panel_group</h1>

<% form_for(@panel_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @panel_group %> |
<%= link_to 'Back', panel_groups_path %>